/* Letras */

@font-face {
    font-family: 'Comodore';
    src: url(../Materiales/Fuentes/Commodore\ Angled\ v1.2.ttf);
}

@font-face {
    font-family: 'Share-Tech';
    src: url(../Materiales/Fuentes/ShareTechMono-Regular.ttf);
}
  
/* Decoraciones del texto */

.cursiva {
    font-style: italic;
}

/* Página */

* {
    margin: 0;
}

body {
    background-color: #FFCC00;
    background-size: cover;
    max-width: 2560px;
    height: fit-content;
    margin: 0 auto;
    cursor: none;
}

body::-webkit-scrollbar {
    display: none;
}

body:hover > #trailer {
    opacity: 1;
}

/* Mouse */
  
#trailer {
    height: 20px;
    width: 20px;
    background-color: #FFF8EA;
    background-image: url(../Materiales/Imagenes/Iconos/pokeball.png);
    border-radius: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    display: grid;
    place-items: center;
}

/* NavBar */

a {
    text-decoration: none;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    font-family: 'Share-Tech', monospace;
    align-items: center;
}

.nav > a {
    margin-right: 40px;
    color: #FFF8EA;
    transition: all 125ms ease-in-out;
    min-width: 5rem;
}

.nav > a:last-child {
    margin: 0;
}

.nav > a:hover {
    color: #B4AA99;
    cursor: none;
}

.nav .activo {
    border: black 2px solid;
    border-radius: 5px;
    outline: white 1px solid;
    padding: .5rem;

}

.logo {
    color: #FFF8EA;
    transition: all 125ms ease-in-out;
}

.logo:hover {
    color: #B4AA99;
    cursor: none;
}

.logo-img {
    width: 80px;
}

.logo-img-mob {
    width: 128px;
}

.header-background {
    background-color: #402E32;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .mob-menu {
        display: none;
    }
}

/* JavaScript */

.abierto {
    opacity: 1;
    animation: openAnim 500ms;
}

.cerrado {
    opacity: 0;
    animation: closeAnim 500ms;
}

/* Animación */

@keyframes openAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closeAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Inicio */

.container-inicio {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-texto, .titulo-texto-llaves {
    margin: 32px;
    margin-bottom: 128px;
    font-family: 'Comodore', monospace;
    font-size: 6rem;
    color: #6A4B00;
    align-self: center;
}

.container-interno {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: row; */
    padding: 32px 0px;
    gap: 2rem;
    width: 100vw;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #4d4637, #655d4e, #7f7666, #99907f, #b4aa99);
    border-image-slice: 1;

}

.subtitulo   {
    font-family: 'Comodore', monospace;
    font-size: 3rem;
    color: #987400;
    max-width: 25rem;
    height: 12rem;
    margin-left: 5rem;
}

.texto {
    font-family: 'Share-Tech', monospace;
    font-size: 1.5rem;
    color: #A2ACBD;
    background-image: linear-gradient(to right top, #324865, #2b5b79, #1d6e8a, #058196, #05959d);
    border-radius: 1rem;
    padding: 1rem;
    width: 30vw;
    border: 5px #0075BE solid;
    height: fit-content;
    align-self: center;
}

.texto-4 {
    font-family: 'Share-Tech', monospace;
    font-size: 1.5rem;
    color: #A2ACBD;
    background-image: linear-gradient(to right top, #324865, #2b5b79, #1d6e8a, #058196, #05959d);
    border-radius: 1rem;
    padding: 1rem;
    width: 35vw;
    border: 5px #0075BE solid;
    height: fit-content;
    align-self: center;
}

.container-inicio > .container-interno:last-child {
    border: none;
}

/* Reglamento */

.container-reglamento {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titulo-reglas {
    padding: 3rem, 1rem, 3rem, 1rem;
    font-family: 'Space Mono', monospace;
    font-size: 4rem;
    color: #402E32;
}

.reglas {
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    font-weight: 900;
    color: #A58E5C;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: justify;
}

.linea {
    background-image: linear-gradient(to right, #ff0505, #d20021, #a20028, #710b26, #42101d, #3e2131, #39303a, #3b3b3b, #676767, #979797, #cacaca, #ffffff);
    height: .3rem;
    width: 100%;
}

/* Trofeo */

.trofeo {
    align-self: center;
    width: 75vw;
}

.descripcion {
    align-self: center;
    font-family: 'Comodore';
    margin-bottom: 1rem;
}

/* Llaves */

.container-llaves {
    height: 69.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Campeones */

.container-campeones {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo-texto-1 {
    margin: 32px;
    font-family: 'Comodore', monospace;
    font-size: 6rem;
    color: #6A4B00;
    align-self: center;
}

.container-campeones-lista {
    display: flex;
    flex-direction: column;
    background-color: #E6F4F1;
    align-items: center;
    font-family: 'Comodore', monospace;
}

.campeon {
    font-size: 3rem;
    color: #7593BC;
    margin: 16px;
}

.equipo {
    font-size: 2rem;
    color: #0075BE;
    margin: 16px;
}

#image-track > .image {
    width: 40vmin;
    object-fit: cover;
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    background-color: #F4FAFF;
    border-radius: 16px;
    border: 5px #0075BE solid;
    margin-bottom: 32px;
}

/* Footer */

footer {
    border-top: 5px solid #3E4756;
    background-color: #A2ACBD;
    color: #0075BE;
    display: flex;
    padding: 16px;
    flex-direction: column;
    font-family: 'Share-Tech', monospace;
}

.container-footer {
    display: flex;
    padding-top: 16px;
    align-items: center;
}

.discord {
    width: 2rem;
    padding-right: 1rem;
}

.contacto {
    font-size: 1.5rem;
}

/* Mobil */



    /* Version Mobil */

@media screen and (max-width: 767px) {

    #trailer {
        display: none;
    }

    .header, .header-background {
        display: none;
    }

    .container-inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
    }

    .container-interno {
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }

    .titulo-texto {
        font-size: 3rem;
        text-align: center;
        margin: 16px;
    }

    .subtitulo {
        font-size: 2rem;
        text-align: center;
        margin: 0;
        height: fit-content;
    }

    .texto {
        width: 50%;
        height: fit-content;
    }

    .texto-4 {
        width: 50%;
        height: fit-content;
    }

    .container-llaves {
        height: 100vh;
    }

    .titulo-texto-llaves {
        font-size: 2rem;
    }

    .titulo-texto-1 {
        font-size: 3rem;
    }

    .titulo-reglas {
        font-size: 2rem;
    }

    .reglas {
        padding-bottom: 1rem;
    }

    .reglas li {
        padding-bottom: 12px;
    }

    .subreglas li {
        padding-bottom: 0;
    }

    .subreglas li:last-child{
        padding-bottom: 12px;
    }

    .campeon {
        text-align: center;
    }

    .descripcion {
        text-align: center;
    }

    .container-llaves{
        height: 78.8vh;
    }
}
    
.mob-abierto, .mob-cerrado {
    width: 30px;
    height: 30px;
}
    
.mob-abierto {
    position: fixed;
    right: 30px;
    top: 15px;
}
    
.mob-list {
    height: 100%;
    width: 35%;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background-color: #A28F65;
}
    
.mob-list_item {
    color: #e7e1d5;
    font-family: "Share-Tech", monospace;
}
    
.mob-list_item:first-child {
    margin-bottom: 40px;
}
    
.mob-cerrado {
    position: fixed;
    right: 30px;
    top: 15px;
    z-index: 5;
}